{% extends 'base.html.twig' %}

{% block title %}My Readings{% endblock %}

{% block body %}
    <h1>My Readings</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Book</th>
                <th>Pages</th>
                <th>Read</th>
            </tr>
        </thead>
        <tbody>
        {% for s in statuses %}
            <tr>
                <td>{{ s.book.title }}</td>
                <td>{{ s.book.getNumPages() }}</td>
                <td>{{ s.getCurrentPage() }}</td>
                <td>
                    <a href="{{ path('app_status_show', {'id': s.id}) }}">show</a>
                    <a href="{{ path('app_status_edit', {'id': s.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_status_new') }}">Create new</a>
{% endblock %}
